@page "/customers"
@inject HttpClient ReqClient
@inject NavigationManager NavManager

<PageTitle>Fuel Station - Customers</PageTitle>

<!-- <h2>Customers</h2> -->

<div class="row">

    <button class="btn btn-primary w-25" @onclick="AddItem">Add Customer</button>

</div>
@if (_isLoading)
{
    <p> Loading...</p>
}
else
{
    <EntityList Items=@_customers Context="customer" Headers=@_tableHeaders
                OnClickDelete="(CustomerListViewModel customer) => DeleteItem(customer)" 
                OnClickEdit="(CustomerListViewModel customer) => EditItem(customer)">
       @* <TableHeader>
            <th>Surname</th>
            <th>Name</th>
            <th>Card Number</th>
        </TableHeader>
        <RowTemplate>
            <td>@customer.Surname</td>
            <td>@customer.Name</td>
            <td>@customer.CardNumber</td>
        </RowTemplate>*@
    </EntityList>
}

@code{

    [CascadingParameter] 
    public RenderFragment PageIconsTemplate { get; set; } = @<p>This is customer</p>;

    protected override void OnInitialized()
    {
        
    }


}