@page "/customers"
@inject HttpClient httpClient
@inject NavigationManager navManager
@using FuelStation.Blazor.Shared

<PageTitle>Fuel Station - Customers</PageTitle>

<h2>Customers</h2>

<div class=row>

    <button class="btn btn-primary w-25" @onclick="AddItem">Add Customer</button>

</div>
@if (isLoading)
{
    <p> Loading...</p>
}
else
{
    <div class="table-responsive-md">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Surname</th>
                    <th>Name</th>
                    <th>Card Number</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in customers)
                {
                    <tr>
                        <td>@customer.Surname</td>
                        <td>@customer.Name</td>
                        <td>@customer.CardNumber</td>
                        <td>
                            <button class="btn btn-warning" @onclick="() => EditItem(customer)">Edit</button>
                            <button class="btn btn-danger" @onclick="() => DeleteItem(customer)">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    private List<CustomerListViewModel> customers = new();
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        await LoadItemsFromServer();
        isLoading = false;
    }

    private async Task LoadItemsFromServer()
    {
        customers = await httpClient.GetFromJsonAsync<List<CustomerListViewModel>>("customer");
    }

    protected void AddItem()
    {
        navManager.NavigateTo("/customers/edit");
    }

    protected async Task DeleteItem(CustomerListViewModel customer)
    {
        var response = await httpClient.DeleteAsync($"customer/{customer.ID}");
        response.EnsureSuccessStatusCode();
        await LoadItemsFromServer();
    }

    protected void EditItem(CustomerListViewModel customer)
    {
        navManager.NavigateTo($"/customers/edit/{customer.ID}");
    }
}
