@page "/"
@inject IJSRuntime jsRuntime
@inject NavigationManager navManager

<PageTitle>Home</PageTitle>


<h1>Hello, world!</h1>
<h1>And goodbye World!!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private bool isAuth = false;

    protected async override Task OnInitializedAsync()
    {
        isAuth = Convert.ToBoolean(await jsRuntime.InvokeAsync<string>("localStorage.getItem", "isAuth"));
        if(!isAuth)
            navManager.NavigateTo("/login", true);
    }
}
