@page "/login"
@inject HttpClient httpClient
@inject NavigationManager navManager
@inject IJSRuntime jsRuntime

<h3>Login</h3>

<div class="col-md-6">
    <div class="row mt-6">
        <div class="col-md-4">
            <label class="form-label">Username</label>
            <input class="form-control" @bind="@Username" />
        </div>
    </div>
    <div class="row mt-6">
        <div class="col-md-4">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" @bind="@Password" />
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <button class="btn btn-success" @onclick="OnLogin">Log In</button>
        </div>
    </div>
</div>


@code {
    private UserAuthenticatedViewModel user { get; set; }
    private string Username { get; set; }
    private string Password { get; set; }

    protected async Task OnLogin()
    {
        user = await httpClient.GetFromJsonAsync<UserAuthenticatedViewModel>($"utility/auth/{Username}/{Password}");
        if (user.IsAuthed)
        {
            await jsRuntime.InvokeAsync<string>("localStorage.setItem", "username", user.Username);
            await jsRuntime.InvokeAsync<string>("localStorage.setItem", "role", user.EmployeeType);
            await jsRuntime.InvokeAsync<string>("localStorage.setItem", "isAuth", true);
            navManager.NavigateTo("/", true);
        }
    }
}
