@page "/login"
@inject HttpClient ReqClient
@inject NavigationManager NavManager
@inject IJSRuntime JsRuntime

<!-- <h3>Login</h3> -->

<div class="col-md-6">
    <div class="row mt-6">
        <div class="col-md-4">
            <label class="form-label">Username</label>
            <input class="form-control" @bind="@Username" />
        </div>
    </div>
    <div class="row mt-6">
        <div class="col-md-4">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" @bind="@Password" />
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <button class="btn btn-success" @onclick="OnLogin">Log In</button>
        </div>
    </div>
</div>
