@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <CascadingValue Value="this">
        <main>
            <CascadingValue Value="PageIconsTemplate">
                <article class="content px-4">
                    <h2>@MyPageTitle</h2>
                    <h2>@PageIconsTemplate</h2>
                    @Body
                </article>
            </CascadingValue>
        </main>
    </CascadingValue>
</div>

@code
{
    public string MyPageTitle { get; set; } = string.Empty;
    [CascadingParameter]
    public RenderFragment? PageIconsTemplate { get; set; }

    public void UpdateTitle(string title)
    {
        MyPageTitle = title;
        StateHasChanged();
    }

    public void UpdatePageIcons(RenderFragment fragment)
    {
        PageIconsTemplate = fragment;
        StateHasChanged();
    }
}
