<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary">Left Employee</button>
    <button type="button" class="btn btn-primary">Middle Employee</button>
    <button type="button" class="btn btn-primary">Right Employee</button>
</div>
